__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
.git/
.gitignore
README.md
tests/
test/
.coverage
.pytest_cache/
*.log
*.sqlite3
Dockerfile
docker-compose.yaml
.dockerignore
.vscode/
.idea/
*.iml
.ruff.toml
.pre-commit-config.yaml
.gitlab-ci.yml
server-start.sh
